* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 75%;
  font-family: "Hind Siliguri", sans-serif;
}

body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #211614;
}

li {
  list-style: none;
}

.header {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.header__nav {
  width: 100%;
  border: 1px solid rgba(162, 163, 165, 0.4);
  padding: 3rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.header__logo .primary__text {
  font-size: 2rem;
}

.header__logo--img {
  width: 6rem;
}

.header__search {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(101, 101, 101, 0.4);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search .search_item {
  width: 92%;
  height: 100%;
  padding: 1.1rem;
  border: none;
  background-color: #ececec;
  outline: none;
  font-size: 1.2rem;
}

.header__search .search_img {
  cursor: pointer;
  width: 9%;
  height: 100%;
  background: #0aad9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.header__search .search_img img {
  width: 2.5rem;
}

.header__search:hover {
  border: 1px solid rgba(39, 180, 165, 0.9);
}

.header__search:active {
  border: 1px solid rgba(101, 101, 101, 0.9);
}

.header__navigation {
  padding: 0.7rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
}

.header__navigation .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header__navigation .nav__list--item {
  font-size: 1.3rem;
}

.header__navigation .nav__list--item:not(:last-of-type) {
  margin-right: 1rem;
}

.header__navigation .nav__list--item-link {
  font-weight: 600;
  color: #211614;
}

.header__contents {
  margin-top: 1rem;
}

.header__contents .contents__top--header {
  padding-left: 10rem;
  height: 3rem;
  border-bottom: 1px solid rgba(162, 163, 165, 0.4);
}

.header__contents .contents__top .contents__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.header__contents .contents__top .contents__list--item {
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
}

.header__contents .contents__top .contents__list--item:hover {
  color: #27b4a5;
  border-bottom: 3px solid #27b4a5;
}

.header__contents .contents__container .req__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.header__contents .contents__container .req__container h5,
.header__contents .contents__container .req__container p {
  margin-bottom: 1rem;
}

.header__contents .contents__container .req__container .login_start {
  margin-top: 1rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(101, 101, 101, 0.4);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contents .contents__container .req__container .login_start .search_item {
  width: 80%;
  padding: 0.8rem;
  border: none;
  background-color: #ececec;
  outline: none;
  font-size: 1.2rem;
}

.header__contents .contents__container .req__container .login_start .quadriple_text {
  cursor: pointer;
  width: 20%;
  height: 100%;
  background: #0aad9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
}

.header__contents .contents__container .req__container .login_start:hover {
  border: 1px solid rgba(39, 180, 165, 0.9);
}

.header__contents .contents__container .req__container .login_start:active {
  border: 1px solid rgba(101, 101, 101, 0.9);
}

.header__contents .contents__encouragement {
  padding-left: 3rem;
  margin-top: 3rem;
}

.header__contents .contents__encouragement .auction__list--places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.header__contents .contents__encouragement .auction__list--places .card {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.5rem;
  gap: 1rem;
  -webkit-box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.header__contents .contents__encouragement .auction__list--places .card img {
  width: 5rem;
}

.btn {
  border: 1px solid rgba(33, 22, 20, 0.2);
  padding: 0.2rem 0.6rem;
}

img {
  width: 10rem;
}

.tertiary__text {
  font-size: 2rem;
}

.tertiary-paragraph {
  font-size: 1.25rem;
}

.quadriple__text {
  font-size: 1.4rem;
}

.quadriple-paragraph {
  font-size: 1rem;
}

.secondary__text {
  font-size: 2.1rem;
  font-weight: 400;
}

section.auctions h3.secondary__text {
  text-align: center;
}

section.auctions .auctions__container {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

section.auctions .auctions__container--cards {
  margin-top: 1rem;
}

section.auctions .auctions__container--navigator {
  width: 17%;
  height: 15rem;
  margin-top: 4rem;
  padding: 1rem 3rem;
  border: 1px solid rgba(33, 22, 20, 0.2);
}

section.auctions .auctions__container--navigator .navigator__list--item {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 1px dashed rgba(33, 22, 20, 0.2);
}

section.auctions .auctions__container--navigator .navigator__list--link:hover {
  color: #27b4a5;
}

section.auctions .auctions__container h6.tertiary__text {
  font-weight: 400;
  color: #27b4a5;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
}

.cards .card {
  height: 26rem;
  width: 25rem;
  position: relative;
  border: 1px solid rgba(33, 22, 20, 0.2);
}

.cards .card.current {
  height: 30rem;
}

.cards .card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card p {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.cards .card p:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

.cards .card p.place {
  color: rgba(33, 22, 20, 0.7);
}

.cards .card p.left_time {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #ef4c45;
}

.cards .card .bid_now {
  color: orange;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #ef4c45;
}

.cards .card .status {
  color: #fff;
  position: absolute;
  top: 0;
  left: -1rem;
  background-color: #ef4c45;
  padding: 0.2rem 1.5rem;
}

section .product_details--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem (1fr)[10] 5rem;
      grid-template-columns: 5rem repeat(10, 1fr) 5rem;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
}

section .product_details--images {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
}

section .product_details--images .main_images img {
  width: 100%;
  height: 35rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

section .product_details--images .additional_images {
  border: 1px solid rgba(33, 22, 20, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

section .product_details--images .additional_images img {
  border: 1px solid rgba(33, 22, 20, 0.2);
  cursor: pointer;
}

section .product_details--details {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
  padding-top: 1rem;
  border: 1px solid rgba(33, 22, 20, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

section .product_details--details .tertiary__text {
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}

section .product_details--details .tertiary__text::after {
  content: "";
  background-color: #27b4a5;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 54%;
  height: 0.2rem;
}

section .product_details--details .tertiary-paragraph {
  text-align: center;
}

section .product_details--details .list {
  margin-top: 3rem;
}

section .product_details--details .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  padding-right: 5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(33, 22, 20, 0.2);
}

section .product_details--details .list li:first-of-type {
  border-top: 1px solid rgba(33, 22, 20, 0.2);
}

section .product_details--details .btn {
  background-color: #27b4a5;
  color: #fff;
  margin: 2rem;
  float: right;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
}

section .product_details--details .bid_form--container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0.03rem 0.8rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.03rem 0.8rem rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

section .product_details--details .bid_form--container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .product_details--details .bid_form--container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #e3e3e3;
  width: 55%;
  padding-top: 1rem;
}

section .product_details--details .bid_form--container form input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section .product_details--details .bid_form--container form .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section .product_details--description {
  grid-row: 6 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  padding-top: 2rem;
  padding: 2rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgba(33, 22, 20, 0.2);
}

section .product_details--description .tertiary-paragraph {
  margin-top: 1rem;
  line-height: 1.6;
}

.login_section .login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login_section .login_container .login_form {
  border: 1px solid rgba(33, 22, 20, 0.2);
  border-radius: 0.3rem;
  padding: 0.4rem 2rem;
  text-align: center;
}

.login_section .login_container .tertiary-paragraph {
  margin-top: 1rem;
}

.login_section .login_container .forgot_password {
  color: #0097ba;
  font-size: 1.2rem;
  text-decoration: underline;
}

.login_section .login_container.signup {
  top: 60%;
}

.login_section .login_container.signup form.login_form--form .form-group {
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
}

.login_section .login_container.signup form.login_form--form button {
  cursor: pointer;
}

form .form-group {
  margin-bottom: 1.5rem;
}

form .form-group:first-of-type {
  margin-top: 1.5rem;
}

form input {
  width: 22rem;
  padding: 0.8rem 1rem;
  padding-left: 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(33, 22, 20, 0.2);
  outline: none;
}

form .btn {
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem;
  width: 66%;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  background-color: #27b4a5;
  color: #fff;
  font-weight: 600;
}

.dashboard__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.dashboard__intro--info {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.dashboard__intro--info .first_quadrant {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid rgba(162, 163, 165, 0.4);
}

.dashboard__intro--info .first_quadrant a.back_home {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 2.5rem;
  text-decoration: underline;
  color: #27b4a5;
}

.dashboard__intro--info h6.tertiary__text {
  font-size: 1.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(162, 163, 165, 0.4);
  padding-bottom: 1.5rem;
  position: relative;
}

.dashboard__intro--info h6.tertiary__text::after {
  content: "";
  position: absolute;
  bottom: 15%;
  right: 11%;
  -webkit-transform: translate(-1%, -50%);
          transform: translate(-1%, -50%);
  height: 0.3rem;
  width: 77%;
  background-color: rgba(39, 180, 165, 0.9);
}

.dashboard__intro--info .req_info--left {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  text-align: center;
  padding: 2.5rem;
}

.dashboard__intro--info .req_info--left p {
  font-size: 1.3rem;
}

.dashboard__intro--info .req_info--right {
  grid-column: 11 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.dashboard__intro--info .req_info--right p {
  font-size: 1.1rem;
}

.dashboard__intro--info .req_info--right .user-img {
  height: 6rem;
  width: 6rem;
  background: #e7e2e1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard__left .req_list {
  height: 100%;
}

.dashboard__left .req_list .req_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard__left .req_list .req_lists--item {
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(162, 163, 165, 0.4);
  text-align: center;
  padding: 0.5rem 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.dashboard__left .req_list .req_lists--item:hover {
  background: #27b4a5;
}

.dashboard__left .req_list .req_lists--item:hover a {
  color: #fff;
}

.dashboard__left .req_list .req_lists--item a {
  font-weight: 500;
}

.dashboard__left .req_list .req_lists--item.active {
  background: #27b4a5;
}

.dashboard__left .req_list .req_lists--item.active a {
  color: #fff;
}

.dashboard__right {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  border-left: 1px solid rgba(162, 163, 165, 0.4);
  border-top: 1px solid rgba(162, 163, 165, 0.4);
}

.dashboard__right .dashboard__contents {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2rem;
}

.dashboard__right .dashboard__contents .contents__container {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
}

.dashboard__right .dashboard__contents .contents__container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__right .dashboard__contents .contents__container .basic_info {
  margin-top: 5rem;
  background: #f4f4f4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4rem;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  border: 1px solid rgba(162, 163, 165, 0.4);
}

.dashboard__right .dashboard__contents .contents__container .basic_info p {
  font-size: 1.3rem;
  padding: 0.3rem 0.8rem;
  width: 100%;
  border: 1px solid rgba(162, 163, 165, 0.4);
  margin-bottom: 0.8rem;
}

.dashboard__right .dashboard__contents .contents__container .basic_info .btn {
  margin-top: 2rem;
  background: #27b4a5;
  border: none;
  padding: 0.4rem 0.8rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.dashboard__right .dashboard__contents .contents__container .basic_info .btn:hover {
  background: #1e8a7f;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit {
  padding: 2rem;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .image-edit__container {
  position: absolute;
  bottom: 10rem;
  left: 5rem;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .create__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .create__form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  margin-right: 3rem;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .create__form .form-control label {
  font-size: 1.2rem;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .create__form .text_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard__right .dashboard__contents .dashboard--container.profile-edit .create__form .text_area label {
  border: 1px solid rgba(162, 163, 165, 0.4);
  width: 40%;
  padding: 2rem;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards h6.tertiary__text {
  text-align: center;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0.8rem;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card .available_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
  gap: 0.8rem;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card .available_buttons .btn {
  height: 2.5rem;
  width: 20%;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card .available_buttons .btn__details {
  background: #282828;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card .available_buttons .btn__edit {
  background: #27b4a5;
}

.dashboard__right .dashboard__contents .contents__container.bid_list .bid_lists .auctions__container--cards .cards .card .available_buttons .btn__delete {
  background: #cc2f28;
}

.dashboard__right .dashboard__contents .contents__container.bidders {
  padding-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__right .dashboard__contents .contents__container.bidders table {
  width: 95%;
  border-collapse: collapse;
  text-align: center;
}

.dashboard__right .dashboard__contents .contents__container.bidders table th,
.dashboard__right .dashboard__contents .contents__container.bidders table td {
  padding: 0.8rem 0.8rem;
  border: 1px solid #c9ccce;
}

.dashboard__right .dashboard__contents .contents__container.bidders table thead tr {
  font-weight: bold;
  background-color: #656565;
  color: #fff;
}

.dashboard__right .dashboard__contents .contents__container.bidders table td {
  font-weight: lighter;
}

.dashboard__right .dashboard__contents .contents__container.bidders table thead th:nth-child(1) {
  padding: 1rem 5px;
}

.dashboard__right .dashboard__contents .contents__container.bidders table tbody tr:nth-child(even) {
  background-color: #ececec;
}

.dashboard__right .dashboard__contents .contents__container.bidders table tbody tr:nth-child(odd) {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */